# Exploratory Data Analysis - Project 3, Part 2
* Jacob Wang
* 12/21/2022

In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2269 entries, 0 to 2268
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2269 non-null   object
 1   adult                  2268 non-null   float64
 2   backdrop_path          990 non-null    object
 3   belongs_to_collection  118 non-null    object
 4   budget                 2268 non-null   float64
 5   genres                 2268 non-null   object
 6   homepage               141 non-null    object
 7   id                     2268 non-null   float64
 8   original_language      2268 non-null   object
 9   original_title         2268 non-null   object
 10  overview               2088 non-null   object
 11  popularity             2268 non-null   float64
 12  poster_path            1932 non-null   object
 13  production_companies   2268 non-null   object
 14  production_countries   2268 non-null   object
 15  release_date           2249 non-null   object
 16  revenue                2268 non-null   float64
 17  runtime                2268 non-null   float64
 18  spoken_languages       2268 non-null   object
 19  status                 2268 non-null   object
 20  tagline                628 non-null    object
 21  title                  2268 non-null   object
 22  video                  2268 non-null   float64
 23  vote_average           2268 non-null   float64
 24  vote_count             2268 non-null   float64
 25  certification          430 non-null    object
dtypes: float64(9), object(17)
memory usage: 461.0+ KB

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.321,1162.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.600,118.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.100,28.0,R

In [3]:
df2 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202 entries, 0 to 2201
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2202 non-null   object
 1   adult                  2201 non-null   float64
 2   backdrop_path          978 non-null    object
 3   belongs_to_collection  130 non-null    object
 4   budget                 2201 non-null   float64
 5   genres                 2201 non-null   object
 6   homepage               90 non-null     object
 7   id                     2201 non-null   float64
 8   original_language      2201 non-null   object
 9   original_title         2201 non-null   object
 10  overview               2007 non-null   object
 11  popularity             2201 non-null   float64
 12  poster_path            1870 non-null   object
 13  production_companies   2201 non-null   object
 14  production_countries   2201 non-null   object
 15  release_date           2184 non-null   object
 16  revenue                2201 non-null   float64
 17  runtime                2201 non-null   float64
 18  spoken_languages       2201 non-null   object
 19  status                 2201 non-null   object
 20  tagline                627 non-null    object
 21  title                  2201 non-null   object
 22  video                  2201 non-null   float64
 23  vote_average           2201 non-null   float64
 24  vote_count             2201 non-null   float64
 25  certification          391 non-null    object
dtypes: float64(9), object(17)
memory usage: 447.4+ KB

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN

In [4]:
# concat 2000/2001
df = pd.concat((df1, df2), axis = 1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2269 entries, 0 to 2268
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2269 non-null   object
 1   adult                  2268 non-null   float64
 2   backdrop_path          990 non-null    object
 3   belongs_to_collection  118 non-null    object
 4   budget                 2268 non-null   float64
 5   genres                 2268 non-null   object
 6   homepage               141 non-null    object
 7   id                     2268 non-null   float64
 8   original_language      2268 non-null   object
 9   original_title         2268 non-null   object
 10  overview               2088 non-null   object
 11  popularity             2268 non-null   float64
 12  poster_path            1932 non-null   object
 13  production_companies   2268 non-null   object
 14  production_countries   2268 non-null   object
 15  release_date           2249 non-null   object
 16  revenue                2268 non-null   float64
 17  runtime                2268 non-null   float64
 18  spoken_languages       2268 non-null   object
 19  status                 2268 non-null   object
 20  tagline                628 non-null    object
 21  title                  2268 non-null   object
 22  video                  2268 non-null   float64
 23  vote_average           2268 non-null   float64
 24  vote_count             2268 non-null   float64
 25  certification          430 non-null    object
 26  imdb_id                2202 non-null   object
 27  adult                  2201 non-null   float64
 28  backdrop_path          978 non-null    object
 29  belongs_to_collection  130 non-null    object
 30  budget                 2201 non-null   float64
 31  genres                 2201 non-null   object
 32  homepage               90 non-null     object
 33  id                     2201 non-null   float64
 34  original_language      2201 non-null   object
 35  original_title         2201 non-null   object
 36  overview               2007 non-null   object
 37  popularity             2201 non-null   float64
 38  poster_path            1870 non-null   object
 39  production_companies   2201 non-null   object
 40  production_countries   2201 non-null   object
 41  release_date           2184 non-null   object
 42  revenue                2201 non-null   float64
 43  runtime                2201 non-null   float64
 44  spoken_languages       2201 non-null   object
 45  status                 2201 non-null   object
 46  tagline                627 non-null    object
 47  title                  2201 non-null   object
 48  video                  2201 non-null   float64
 49  vote_average           2201 non-null   float64
 50  vote_count             2201 non-null   float64
 51  certification          391 non-null    object
dtypes: float64(18), object(34)
memory usage: 921.9+ KB

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN

In [9]:
ax = sns.histplot(data = df, x = 'budget')
median = df['budget'].median()
ax.set(title = 'Distribution of Movie Budgets')
ax.axvline(median, color = 'black', linestyle = '--', 
            label = f'Median Movie Budget = ${median}')
ax.legend();

ValueError: If using all scalar values, you must pass an index

In [6]:
ax = sns.histplot(data = df, x = 'revenue')
median = df['revenue'].median()
ax.set(title = 'Distribution of Movie Revenue')
ax.axvline(median, color = 'black', linestyle = '--', 
            label = f'Median Movie Revenue = ${median}')
ax.legend();

ValueError: If using all scalar values, you must pass an index