# Exploratory Data Analysis - Project 3, Part 2
* Jacob Wang
* 12/21/2022

In [3]:
import pandas as pd

In [18]:
df = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df.head()

   imdb_id
0        0

   imdb_id
0        0