# Project 3 - Part 3
* Jacob Wang
* 1/11/2023
* Coding Dojo Data Science Project 3

In [13]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pymysql
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()

In [2]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80219 entries, 0 to 80218
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          80219 non-null  object
 1   titleType       80219 non-null  object
 2   primaryTitle    80219 non-null  object
 3   originalTitle   80219 non-null  object
 4   isAdult         80219 non-null  int64
 5   startYear       80219 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  80219 non-null  int64
 8   genres          80219 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.5+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [3]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
80214,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
80215,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
80216,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
80217,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
80218,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [4]:
# separate the list of genres into new rows
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
80217,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Action
80217,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Adventure
80217,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Thriller
80218,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
80218,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [5]:
# get unique genres
unique_genres = sorted(exploded_genres['genres_split'].unique())

## Create title_genres table

In [6]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

## Create a genre mapper dictionary to replace string genres with integers

In [7]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [8]:
## Make dictionary with list of unique genres as key, new int id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

## Replace the string genres in title_genres with the new integer ids

In [9]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

## Convert the genre map dictionary into a dataframe

In [10]:
# manually make df with named cols from .keys and .values
genre_lookup = pd.DataFrame({'genre_name': genre_map.keys(),
                            'genre_id': genre_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Save MySQL tables with tconst as the primary key

In [11]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear           int64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [14]:
## create connection
with open('/Users/jacobwang/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [17]:
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movies"
engine = create_engine(connection)

In [18]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [ ]:
basics.head()

In [ ]:

basics = basics.drop(columns = ['originalTitle', 'isAdult', 'titleType', 'genres','genres_split'])

In [ ]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [ ]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
genre_lookup.to_sql('genre_lookup',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE genre_lookup ADD PRIMARY KEY (`genre_id`);')

In [ ]:
# run queries to test database
q = """
SELECT * FROM title_basics
LIMIT 5;"""
pd.read_sql(q, engine)

In [ ]:
# run queries to test database
q = """
SELECT * FROM title_genres
LIMIT 5;"""
pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * FROM genre_lookup
LIMIT 5;"""
pd.read_sql(q, engine)

## Create 'ratings' table

In [ ]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')

In [ ]:
ratings.info()
ratings.head()

In [ ]:
ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [ ]:
q = """
SELECT * FROM title_ratings 
LIMIT 5; """
pd.read_sql(q, engine)

## Create tables for tmdb data

In [ ]:
tmdb2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
tmdb2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
tmdb_data = pd.concat([tmdb2000, tmdb2001], axis=0)

tmdb_data.info() 
tmdb_data.head()

In [ ]:
# drop unnecessary columns
tmdb_data = tmdb_data[['imdb_id', 'budget', 'revenue', 'certification']]
tmdb_data

In [ ]:
tmdb_data.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [ ]:
q = """
SELECT * FROM tmdb_data
LIMIT 5;"""
pd.read_sql(q, engine)

## Confirm all tables have been created

In [ ]:
q = """SHOW TABLES"""
pd.read_sql(q, engine)